body, html {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #407F7F;
}

.container-div {
	/*height: 100%;*/
	width: 40%;
	margin: 60px auto;
	border: solid #505968 1px;
	padding-left: 3%;
	background-color: #FFFFFF;
	/*padding-left: 50px;*/
}

p#the-new-password {
	font-size: 1.15em;
	word-wrap: break-word;
}

h1 {
	color: #804515;
}

.new-password-div {
	margin: 20px 20px 20px 0;
	/*width: 50%;*/
	/*height: 50px;*/
}

#new-password-id {
	color: red;
}

#new-password {
	font-size: x-large;
}

#bad-number {
	font-size: 26px;
	color: red;
}

#the-new-password {
	font-size: 1.3em;
	color: #AA9739;
	font-family: none;
}

#characterNumberId {
	height: 40px;
	/*border: none;*/
	border-radius: 5px;
	width: 75%;
	font-size: 1.2em;
}

.submit-div {
	margin: 20px 0 20px 0;
}

.submit-button {
	font-size: 1.1em;
	color: #ffffff;
	height: 40px;
	background-color: #0D4D4D;
	border-radius: 5px;
	border: none;
}

.dashes {
	color: red;
	font-size: 1em;
	/*font-family: "Times New Roman", Times, serif;*/
}

.dashes-checked {
	color: black;
	font-size: 1em;
}

input[type=checkbox] {
    width:20px;
    height:20px;
}

input[type=checkbox]:hover {
    box-shadow:0px 0px 15px #36455e;
}

.check-box-div {
	margin-bottom: 40px;
	font-weight: bold;

}

#password-length {
	font-size: .9em;
}


/*SMARTPHONE SIZE SCREENS*/
@media only screen and (min-width: 15em) and (max-width: 30em) {
	
	.container-div {
		width: 92.5%;
		margin-left: auto;
		margin-right: auto;
		/*padding-left: 50px;*/
	}	

	div.footer-div {
		height: 100px;
	}

	#characters-div {
		/*height: 105px;*/
		margin-bottom: 40px;
	}

	p#bad-number {
		height:105px;
	}

	.new-password-div {
		margin: 20px 10px 20px 0;
	}

	input[type=checkbox] {
    	width:30px;
    	height:30px;
	}

	#characterNumberId {
		height: 50px;
		border-radius: 5px;
		width: 70%;
		font-size: 1.2em;
	}

	.do-you-want {
		font-size: 1.25em;
	}

	.submit-button {
		font-size: 1.25em;
		color: #ffffff;
		height: 60px;
		background-color: #0D4D4D;
		border-radius: 5px;
		border: none;
		padding: 0 15px 0 15px;
	}
}


/*TABLET SIZE SCREENS*/
@media only screen and (min-width: 30em) and (max-width: 60em) {

	.container-div {
		/*padding-left: 40px;*/
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		/*padding-left: 50px;*/
	}	

	div.footer-div {
		height: 150px;
	}
}